.nav-bar {
  background-color: #24272E;
  color: #56D5FA;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3em;
  padding: 0px 10px 0px 10px;

  div {
    display: flex;
    flex-direction: row;
  }
}
#page-title {
  font-weight: 700;
}
.nav-links {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}
.nav-link {
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  margin: 0 5px 0 5px
}
.login-link {
  text-decoration: none;
  color: inherit;
}
.react-logo {
  height: 25px;
}
.left-block {
  display: flex;
  flex-direction: row;
  align-items: center;

}
